*{
           margin: 0;
           padding: 0;
           box-sizing: 0;
       }
       .contenedor{
    display: flex;
    flex-direction: column-reverse;
    background: #ccc;
    background-repeat: no-repeat; 
    padding: 10px;
    background-size: cover;
         }
       
          header{ 
          background:#000;
          display: flex;
          flex-wrap: wrap;
          padding: 10px;
          align-items: center;
          
       }
.b{
    padding: 20px;
   
}
.b img{
    border-radius: 50%;  

}
.b h1{
    display: flex;
    justify-content: center;

}
.btn{
    padding: 10px;
    display: flex;
    justify-content: center;
}
 .cocacola{
        width: 100%;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

.logo{
    height: 200px;
    border: 3px solid #ccc;
}
.titulo{
    color: aliceblue;
}
.contenido_bebidas{
    padding: 10px;
    
}
 .redes{
         height: 100px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
        
    }
 .redes a{
        padding: 20px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 0 5px;
        
    }
    .redes a:hover{
        background: #ccc;
    }
@media (min-width:500px){
      .ingredientes {
        display: flex;
        flex-direction: row;
    }
    header{
        display: flex;
        flex-wrap: nowrap;
    }
    .titulo{
        padding: 10px;
    }
    .cont{
    display: flex;
    justify-content: space-between;
}
.total{
    margin: 0 10px;
}
    .opcion {
   
   width: 200px
}
    .opcion div{
        
        height: 100px;
    }
    .b{
    padding: 50px;
}
    
}
@media (min-width:700px){
    .contenedor{
      display: flex; 
      flex-direction: row;
         
    }

    header{
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;      
    }
    .titulo{
        padding: 10px;
    }
  
     .redes{
         height: 100px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
        
    }
     .redes a{
        padding: 20px;
        border: 2px solid #fff;
        border-radius: 50%;
        margin: 0 10px;
    }
    .redes a:hover{
        background: #ccc;
    }
    .contenido{
       padding: 10px;
    }
   
    
}
@media (min-width:900px){
   
  .b img{
    width: 300px;  

}
    .contenido{
        width: 100%;
    }
    .cont{
      width: 100%;
       
    } 
    .cocacola{
        height: 42%;
    }
     .contenido_bebidas{
    border: 2px solid #fff;
    border-radius: 20px;
    width: 70%;
    margin: auto;
}

}
