*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

   .contenedor{
    display: flex;
    flex-direction: column;
    background: #CCC;
    background-repeat: no-repeat;
    padding: 10px;
    background-size: cover;
    height: 140vh;
       
         }
       
          header{
          background: rgba(0,0,0,.2);
          display: flex;
          justify-content: center;
    
       }
/*----------formulario------------*/
.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    height: 100%;
}
.titulo{
    
    width: 100%;
    text-align: center;
}
.form1{
    padding: 5px 15px;
    height: 530px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
    font-size: 15px;
}
.btn1{
    text-align: center;
    width: 100%
}
#barrio{
    display: flex;
    justify-content: space-between;
}
.b{   
  width: 290px;  
}
.m{
    margin: 0px 5px;
  width: 300px;  
}
#ema{
    display: flex;
    justify-content: space-between;
}
.dia{
    width: 50px;
    margin: 0px 1px;
}
.mes{
    width: 50px;
    margin: 0px 1px;
}
.email{
    width: 480px;
}
#tel{
    display: flex;
}
.tel1{
    width: 290px;
}
.tel2{
    width: 290px;
    margin: 0px 5px;
}
@media(min-width:600px){
    .form1{ 
       width: 600px; } 
 .contenedor{
        height: 140h;    
        }
}
    